
.carousel-item {
    background-image: url('img/helloquence-51716-unsplash.jpg');
    background-size: cover;
    height: 400px;
}
.whitebox {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.carousel-item > div {
    height: 400px;
}

.landing-category i {
    font-size: 48px;
}

.landing-links {
    margin-top: 40px;
}



// demo stuff

.bookings button {
    width: 80px;
}

.bookings {
    width: 100%;
    margin: auto;
    @media (min-width: $min-small) {
        width: 80%;
    }
}

.red-h2 {
    color: $red;
    font-size: 1.5rem;
}

.reviews {
    width: 100%;
    margin: auto;
    @media (min-width: $min-small) {
        width: 50%;
    }
}

.review {
    border-bottom: 1px solid $red;
}
.rev-name {
    font-size: 1.4rem;
    margin-bottom: 0;
}
.red {
    color: $red;
}
.spacer {
    height: 100px;
}

.rev-reply {
    color: #000;
}
.rev-reply:hover {
    color: #000;
}