@import 'theme';
@import 'navbar';
@import 'landing';
@import 'sidebar';
@import 'dashboard';
@import 'spinner';
@import 'schedules';


/*
    Flex Layout 
    These styles ensure that the 
    footer is always at the bottom of the page.

    Layout: 
        html 
            body 
                root 
                    App
                        Navbar
                        content
                    footer 
*/
html, body {
    height: 100%;
    //background-color: $color-bg;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.App {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
.content {
    flex-grow: 1;
    overflow-x: auto;
}
.footer {
  flex-shrink: 0;
}


//TODO move this into another scss file??
// forms do not stretch to entire width of page
.simple-form {
    width: 90%;

    @media (min-width: 400px) { 
        width: 400px;
    }
}
  

/* demo styles. TODO refactor when creating actual components*/

.red {
    color: $red;
}
.bg-editable {
    background-color: #eee;
}